@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
    --accent-color: #bbf7d0;
    --accent-color-dark: #125329;
    --secondary-accent-color: #6B21A8;
    --secondary-accent-light-color: #F3E8FF;
    --bg-color: #f3f4ff;
    --bg-color-dark: #c6c8dc;
    --card-bg-color: #fff;
    --font-color: #2f2f2f;
    --loading-color: #dee0f3;
    --loading-accent: #9ba1d2;
    --list-item-bg-color: #fff;
    --border-radius: 5px;
    --border-radius-lrg: 10px;
    --default-transition: all .2s ease-in;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    border-bottom: 2px dotted var(--font-color);
    color: var(--font-color);
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

.nav,
.app__header,
.app__body,
.app__footer {
    padding: 1.5rem;
}

.app,
.app__header,
.app__main,
.app__footer {
    display: flex;
}

.app,
.app__main {
    flex-grow: 1;
}

.app__header,
.app__footer {
    justify-content: space-between;
}

.app__main {
    flex-direction: column;
}

.app__body {
    flex-grow: 1;
    position: relative;
}

.app__footer {
    text-align: right;
}

/* NAVIGATION */

.nav {
    background-color: var(--card-bg-color);
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav__item {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.3rem;
    padding: .75rem;
    text-align: center;
    transition: var(--default-transition);
}

.nav__item:hover {
    background-color: var(--bg-color-dark);
}


/* HOMEPAGE - STATS */
.stats__wrapper {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.stats__card {
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius-lrg);
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    flex-grow: 1;
    padding: 1rem 1.5rem;
}

.stats__card__title {
    font-size: 1.1rem;
    font-weight: 400;
    grid-column: 1/1;
    grid-row: 2/-1;
    opacity: .8;
    font-style: italic;
}

.stats__card__value {
    font-size: 2.4rem;
    font-weight: 700;
    grid-column: 1/1;
    grid-row: 1/2;
}

.stats__card__icon {
    align-self: center;
    background-color: var(--accent-color);
    border-radius: 14px;
    color: var(--accent-color-dark);
    font-size: 2.1rem;
    grid-column: 2/-1;
    grid-row: 1/3;
    justify-self: center;
    padding: .75rem; 
}

/* LOADING SPINNER */
.loading {
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border: 6px solid var(--loading-color);
    border-top: 7px solid var(--loading-accent);
    display: inline-block;
    height: 3rem;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
}

.loading.display {
    display: inline-block;
}

.view__title {
    margin-bottom: 1.5rem;
}

/* ANIMATIONS */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* TABLE */
.table__header {
    margin-bottom: .75rem;
}

.table__body {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.table__header,
.list__item {
    background-color: var(--list-item-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0;
    display: grid;
    gap: .75rem;
    grid-template-columns: 40px repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    padding: .75rem;
    transition: var(--default-transition);
}

.list__item:hover {
    box-shadow: 0 0 6px rgba(198, 200, 220, .9);
}

.list__item__icon {
    background-color: var(--secondary-accent-light-color);
    border-radius: var(--border-radius);
    color: var(--secondary-accent-color);
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.list__item__coordinates {
    display: flex;
    flex-direction: column;
    gap: .1875rem;
}

.list__item__coordinates span {
    font-size: 13px;
}

.list__item__lat::before, 
.list__item__long::before {
    content: 'Lat.';
    font-weight: 700;
    margin-right: .375rem;
}

.list__item__long::before {
    content: 'Lon.';
}